.BostonMap {
    display: flex;
    width: 100%;
    height: 60%;
}

.Map {
    left: 0;
    height: 100%;
    width: 75%;
    padding: 15px;
    box-sizing: border-box;
}

.Legend {
    right: 0;
    height: 100%;
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
}

.Legend-content {
    height: 96%;
    background-color: rgba(0, 0, 0, 0.651);
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    color: white;
  }

  .Legend-key li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    color: white;
  }
  
  .Legend-color {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
  }

.Legend-dropdown {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
  }
